<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-primary">
  <div class="panel-heading">User registration form</div>
  <div class="panel-body">
    <form class="css-form" name="userForm" #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">User name</label>
        <input type="text" class="form-control" id="userName" required
          name="userName" userUniqueValid #name="ngModel" [(ngModel)]="user.name">
        <span *ngIf="name.errors && name.value?.length > 0 && !name.errors.userUniqueValid && name.dirty">
          User name is not unique. Please select another one.
        </span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required
          name="password" #password="ngModel" [(ngModel)]="user.password">
      </div>

      <div class="form-group">
        <label for="password2">Password again</label>
        <input type="password" class="form-control" id="password2" required
          name="password2" #password2="ngModel" [(ngModel)]="user.password2"
          validateEqual="password">
        <span *ngIf="password2.errors && !password2.errors.validateEqual && password2.touched">
          Passwords should match
        </span>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="text" class="form-control" id="dateOfBirth" required
          name="dateOfBirth" #dateOfBirth="ngModel" [(ngModel)]="user.dateOfBirth"
          pattern="[0-9][0-9]\.[0-1][0-9]\.[1-2][0-9][0-9][0-9]" validateAge="18">
        <div *ngIf="dateOfBirth.errors && dateOfBirth.touched">
          <span *ngIf="dateOfBirth.errors.pattern">
            Date of birth should be in format dd.mm.yyyy
          </span>
          <span *ngIf="!dateOfBirth.errors.pattern && dateOfBirth.errors.validateAge">
            User age should be at least {{ age }}
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="subscribe" [(ngModel)]="user.subscribe">
            Subscribe for newsletters
          </label>
        </div>
      </div>

      <div *ngIf="user.subscribe" class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email"
          name="email" #email="ngModel" [(ngModel)]="user.email"
          pattern="[a-z]+@[a-z]+\.[a-z]+">
        <span *ngIf="email.errors && email.errors.pattern && email.touched">
          Email should be in format name@mail.domain
        </span>
      </div>

      <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary pull-right">
        Submit
      </button>

    </form>
  </div>
  </div>
</div>
