<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Angular Tutorial</div>
    </div>
    <div class="navbar-form navbar-right">
      <a class="btn btn-primary" routerLink="/register">Register</a>
    </div>
  </div>
</nav>

<div class="page-header">
  <div class="container">
    <h3>
      <span class="glyphicon glyphicon-edit"></span>
      Keep your notes in order
    </h3>
  </div>
</div>

<router-outlet></router-outlet>
