<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Angular Tutorial</div>
    </div>
  </div>
</nav>

<div class="page-header">
  <div class="container">
    <h3>
      <span class="glyphicon glyphicon-edit"></span>
      Keep your notes in order
    </h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
        <notes [section]="section"></notes>
    </div>
    <div class="col-md-4">
        <sections (sectionChanged)="setSection($event)"></sections>
    </div>
  </div>
</div>
