<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add your note to section {{section}}</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <textarea #notetext></textarea>
      <button (click)="add(notetext.value); notetext.value=null">Add</button>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Notes</div>

  <ul class="list-group" ng-repeat="note in notes">
    <li *ngFor="let note of notes" class="list-group-item">
      {{note.text}}
      <button class="pull-right" (click)="remove(note._id)">remove</button>
    </li>
  </ul>
</div>
